.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center
}

@media (min-width: 575px) {
  .top-bar {
    border-bottom: 1px solid #ccc;
    padding: 10px 0
  }

  .top-bar #menuToggle {
    display: none
  }
}

.top-bar__phone {
  font-size: 20px;
  text-align: center;
}

@media (max-width: 574px) {
  .top-bar__phone .btn{
    padding: 0;
    font-size: 0;
  }
}

.top-bar__phone .fa {
  border-radius: 50%;
  margin-right: 3px;
  color: $danger-color;
  font-size: 16px;
  padding: 6px 3px;
  vertical-align: 0;
  transition: transform .1s ease-in;

  &:hover {
    -o-transform: scale(1.2, 0.5);
    -ms-transform: scale(1.2, 0.5);
    -moz-transform: scale(1.2, 0.5);
    -webkit-transform: scale(1.2, 0.5);
    transform: scale(1.2);
  }

  @media (max-width: 574px) {
    font-size: 18px;
  }

}

/*@media (max-width: 574px) {
  .top-bar__phone {
    display: none
  }
}*/

.top-bar__text {
  text-align: center;
  color: #ffffff;
  font-size: 32px
}

@media (max-width: 991px) {
  .top-bar__text {
    font-size: 18px
  }
}

@media (max-width: 767px) {
  .top-bar__text {
    display: none
  }
}

.top-bar__logo {
  max-width: 80px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

@media (max-width: 574px) {
  .top-bar__logo {
    max-width: 80px
  }
}

.nav-item {
  color: #1d2029;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 22px 15px 15px;
  display: block
}

@media (max-width: 574px) {
  .nav-item {
    padding-left: 0
  }
}

.nav-item:hover, .nav-item:active, .nav-item:focus, .open .nav-item {
  color: $danger-color;
  text-decoration: none
}

.nav-item:after {
  transform: rotate(90deg)
}

.nav-item.dropdown-toggle:before {
  border: 6px solid transparent;
  border-bottom: 6px solid $danger-color;
  position: absolute;
  bottom: 0
}

@media (min-width: 576px) {
  .open .nav-item.dropdown-toggle:before {
    content: ""
  }
}

.header {
  clear: both;
  color: #ffffff;
  background-color: #000000;
  position: relative;
  z-index: 10
}

.header > .container {
  position: relative
}

.header .line-row {
  height: 2px;
  margin: 0
}

.bq {
  //background: #113848;
  color: #000000;
  font-size: 19px;
  text-transform: uppercase;
  padding: 37px 15px;
  line-height: 2;
  text-align: center;
  margin: 30px 0
}

.bq strong {
  color: #113848;
  font-weight: 900
}

@media screen and (max-width: 479px) {
  .bq {
    font-size: 14px
  }
}

.modal#orderSuccess .modal-content,
.modal#callback .modal-content {
  max-width: 465px
}

.modal#orderSuccess .modal-content .input--theme,
.modal#callback .modal-content .input--theme {
  border: 1px solid #ccc
}

.modal-content {
  padding: 40px
}

.modal button.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  background: none;
  box-shadow: none;
  opacity: 0.5
}

.modal button[type=submit] {
  margin-top: 20px
}

body > font {
  display: none
}

@media screen and (max-width: 767px) {

  .bottom-order .input-item {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    float: none
  }

  .logo-row .top-callback .phone {
    width: 100%;
    max-width: 210px;
    margin: -50px auto 0 auto;
    float: none !important
  }
}

@media screen and (max-width: 479px) {
  .logo-row .top-callback .phone {
    float: right !important;
    margin: -20px 0 0 0
  }
}

.btn {
  display: block;
  color: #ffffff;

  &:hover {
    color: rgba(255, 255, 255, .7);
  }
}


