.installation {
  //background: url("../img/videoc.jpg") center center no-repeat;
  background-size: cover;

  &--bg {
    background: rgba(255,255,255, .6);
  }

}

.bq {
  //background: #113848;
  color: #000000;
  font-size: 19px;
  text-transform: uppercase;
  padding: 37px 15px;
  line-height: 2;
  text-align: center;
  margin: 30px 0
}

.bq strong {
  color: #113848;
  font-weight: 900
}

@media screen and (max-width: 479px) {
  .bq {
    font-size: 14px
  }
}