.services {
  background: #000000;
  color: $grayText;

  .h3 {
    margin-bottom: 0;
  }
}

.sc_2 {
  line-height: 33px
}

.sc_2 ul {
  margin: 15px 0 30px;
  padding: 0;
  list-style-type: none
}

.sc_2 ul li {
  margin: 0;
  padding: 0 0 0 45px;
  position: relative
}

.sc_2 ul li:before {
  content: "\2713";
  display: inline-block;
  margin-right: 10px;
  color: #113848;
}

@media screen and (max-width: 479px) {
  .sc_2 ul li {
    padding: 0
  }
}

.features__item {
  margin-top: 20px !important;
  vertical-align: top;
  font-size: 16px;
  line-height: calc(25 / 16);
  text-align: justify;
  padding: 0 20px;

  @media (max-width: 767px) {
    padding: 0 5px;
    text-align: left;
  }
}



@media (min-width: 768px) {
  .features__item {
    width: calc(100% / 2 - 4px);
    display: inline-block;
  }
}

.features__item h4 {
  text-align: center;
  color: $grayText;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 20px;

  @media (max-width: 768px) {
    text-align: left;
    font-size: 16px;
  }
}

.features__item p {
  max-width: 80%;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
    font-size: 14px;
  }
}

.features__item h5 {
  width: 100%;
  text-align: center;
  color: black;
  background: $danger-color ;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 40px;
  font-size: 18px;
  /*transform: skewX(-20deg);

  & span {
    transform: skewX(20deg);
  }*/
}

.features__item__icon {
  padding: 19px 10px;
  width: 100px;
  height: 100px;
  line-height: 1;
  margin: 0 auto;

  & img {
    width: 75%;
    height: auto;

  }
}
